# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log

# CSV files (uncomment if you want to ignore all CSV files)
# *.csv

# Keep specific files
!data/onemap_04042025.csv

# OS specific
.DS_Store
Thumbs.db